{
  "Version": 2,
  "Defaults": {
    "solid": "Collide",
    "trigger": "Trigger",
    "ladder": "Ignore",
    "water": "Trigger",
    "sound": "Unset",
    "test": "Unset"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "solid",
      "r": "Trigger"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "sound",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "test",
      "r": "Ignore"
    },
    {
      "a": "solid",
      "b": "test",
      "r": "Ignore"
    },
    {
      "a": "ladder",
      "b": "test",
      "r": "Ignore"
    },
    {
      "a": "water",
      "b": "test",
      "r": "Ignore"
    },
    {
      "a": "sound",
      "b": "test",
      "r": "Ignore"
    }
  ],
  "__guid": "5041fcbe-cb64-4648-9ef8-8b34858c1eff",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 2
}